# Name of your application. Used to uniquely configure containers.
service: laravel-blog

# Name of the container image.
image: guillaumebriday/laravel-blog

# Deploy to these servers.
servers:
  web: # We can have as many servers as you want
    - 91.98.231.143

proxy:
  app_port: 8080 # This is the default port for HTTP to Nginx with the `serversideup/php:8.3-fpm-nginx` image we are going to use.
  ssl: false # Handle SSL at the proxy level
  host: areacaroutlet.local # Adapt this to your own domain or hostname.

# Credentials for your image host.
registry:
  username: guillaumebriday

  # Always use an access token rather than real password (pulled from .kamal/secrets).
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64

env:
  clear:
    # These are the variables I use to configure the files that are in `config/*.php`.
    APP_NAME: "Laravel blog"
    APP_ENV: "production"
    APP_DEBUG: false
    DB_CONNECTION: "sqlite"
    DB_DATABASE: "/var/www/html/data/production_laravel_blog.sqlite3"
    MAIL_MAILER: "log"
    SESSION_DRIVER: "file"
    CACHE_STORE: "file"
  secret:
    - APP_KEY # It's going to be pulled up from `.env` automatically

volumes:
  - "data:/var/www/html/data" # Use Docker volume to keep SQLite database on disk between deploys.

# Really handy aliases specific for Laravel
aliases:
  console: app exec --reuse -i "bash"
  tinker: app exec --reuse -i "php artisan tinker"